.section-title {
    color: #382e2d;
    letter-spacing: .02rem;
    font-family: "Squada One";
    font-size: 30px;
    margin-bottom: 8px;
}
.section-title-home {
    display: none;
}
.section-title-properties {
    margin-top: 37px;
}
@media screen and (max-width: 765px) {
    .section-title-properties {
        margin-top: 0px;
    }
    .section-title {
        font-size: 25px;
    }
}
/*******
Interior Content Styles
*******/
#interior-content {
    padding: 25px;
    flex-grow: 1;
    width: 85%;
}
/*******
Contact Styles
*******/
.contact-row,
.contact-information,
.contact-information select,
.contact-information,
.contact-information input:not([type="submit"]) {
    width: 100%;
}
.contact-row label,
.contact-row:nth-child(5) {
    padding-left: 9px;
    padding-right: 9px;
}
.contact-information input, 
.contact-information select {
    border: solid .5px #382e2d;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    height: 32px;
    margin-top: 5px;
}
.contact-information select,
.contact-information input:not([type="submit"]) {
    appearance: none;
    -webkit-appearance: none;
    background-color: #8e8485;
    padding-left: 8px;
    padding-right: 5px;
}
.contact-information select,
.contact-information input::placeholder,
.contact-information input:not([type="submit"]) {
    color: white;
}
.contact-information {
    margin-top: 15px;
}
.contact-row  {
    position: relative;
}
.contact-row:last-child  {
    justify-content: flex-end;
}
.contact-row label {
    font-size: .98em;
    width: 50%;
}
.success-message,
.contact-row:not(:last-child) {
    margin-bottom: 18px;
}
.contact-information label,
.contact-information input[type="submit"] {
    font-weight: bold;
}
.contact-information input[type="submit"] {
    background-color: rgba(236, 253, 255, .75);
    border-radius: 5px;
    color: #382e2d;
    cursor: pointer;
    float: right;
    min-width: 94px;
    width: 8%;
}
.contact-information label {
    font-family: arial;
}
.contact-information input[type="submit"]:hover {
    transition: background-color .5s linear;
    background-color: rgba(236, 253, 255, 1);
}
.contact-information input[type="submit"]:not([name="newsletter-submit"]) {
    box-shadow: 0px 0px 5px #382e2d inset;
}
.success-message {
    color: rgb(236, 253, 255);
    font-family: arial;
    font-size: 21px;
}
.success-message,
.contact-information.success .contact-row {
    display: none;
}
.contact-information.success .success-message {
    display: block;
}
.contact-information.success label,
.contact-information.success input,
.contact-information.success select,
.contact-information.success input::placeholder,
.contact-information.success input[type="submit"]:hover {
    color: #727272;
}
.contact-information.success input,
.contact-information.success select,
.contact-information.success input::placeholder,
.contact-information.success input[type="submit"]:hover {
    background-color: #d3d3d3;
}
input.error {
    box-shadow: 0px 0px 4px #ff0f00 inset;
}
@media screen and (max-width: 1065px) {
    .contact-row label {
        width: 100%;
    }
    .contact-row label,
    .contact-row:nth-child(5) {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-row:not(:last-child) {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .contact-row input,
    .contact-row select {
        margin-bottom: 18px;
    }
    .contact-row label:nth-child(1), 
    .contact-row:nth-child(3) label:nth-child(2) {
        padding-right: 0px;
    } 
    .contact-row input[name="contact-submit"] {
        margin: 0px auto;
        position: static;
    }
}
@media screen and (max-width: 765px) {
    #interior-content {
        justify-content: start;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
    }
    .success-message,
    .contact-row:not(:last-child) {
        font-size: 17px;
    }
    .contact-information {
        margin-top: 5px;
    }
    .contact-row label {
        font-size: .90em;
    }
    .contact-information input, 
    .contact-information select {
        font-size: 13px;
        height: 27px;
        margin-bottom: 14px;
    }
}
